.header {
    width: 100%;
    padding: 0 40px;
    height: 80px;
}

.header > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    user-select: none;
}

.heading {
    font-family: var(--font-heading);
    display: inline-flex;
    font-size: 32px;
    border-radius: 5px;
    outline-offset: 4px;
    color: var(--foreground-1);
}

.header > div > nav {
    flex: 1;
}

.header > div > :not(:nth-child(2)) {
    width: 120px;
}

@media screen and (max-width: 768px) {
    .header > div > nav {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .header {
        padding: 0 20px;
        height: 60px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 0 12px;
        height: 60px;
    }
}
