.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container > :first-child {
    display: block;
}

.button {
    display: none;
    border: none;
    background: transparent;
    padding: 6px;
    cursor: pointer;
    color: var(--foreground-2);
    border-radius: 8px;
    position: relative;
    z-index: 11;
}

.button:hover {
    color: var(--foreground-1);
}

.icon rect {
    transition:
        y 100ms ease-in 100ms,
        rotate 100ms ease-in,
        opacity 0ms 100ms;
    transform-origin: center;
}

.icon.open rect {
    transition:
        y 100ms ease-in,
        rotate 100ms ease-in 100ms,
        opacity 0ms 100ms;
}

.icon.open :is(rect:first-child, rect:last-child) {
    y: 45;
}

.icon.open rect:first-child {
    rotate: 45deg;
}

.icon.open rect:nth-child(2) {
    opacity: 0;
}

.icon.open rect:last-child {
    rotate: -45deg;
}

.container > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    padding: 10px 24px;
    font-weight: 700;
    color: var(--accent-foreground);
    background-color: var(--accent-1);
    transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;
}

.container > a:hover,
.profile > a:hover {
    background-color: var(--accent-1-hover);
}

.container > a:active,
.profile > a:active {
    background-color: var(--accent-1-active);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    background-color: var(--background-1);
    z-index: 10;
    display: none;
    animation: rightToLeft 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    padding-left: var(--scrollbar-width);
}

.list {
    padding-top: 24px;
    margin: 80px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-top: 1px solid var(--foreground-4);
}

.list a {
    display: flex;
    color: var(--foreground-3);
    font-size: 16px;
    padding: 8px 16px;
    line-height: 24px;
    border-radius: 5px;
}

.list a:hover,
.list a:focus-visible {
    color: var(--accent-1);
    background-color: var(--background-2);
}

.profile {
    display: none;
    position: absolute;
    top: 12px;
    right: 12px;
}

@keyframes rightToLeft {
    0% {
        transform: translateX(+100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(+100%);
    }
}

@media (max-width: 768px) {
    .container {
        gap: 8px;
    }

    .menu {
        display: block;
    }

    .button {
        display: flex;
    }

    .header > nav {
        display: none;
    }

    .profile {
        display: block;
    }

    .menu > nav > ul > li {
        font-size: 16px;
    }
}
