.wrapper {
    display: flex;
    flex-direction: column;
    /* max-width: 500px; */
}

.wrapper.inline {
    display: inline-flex;
    width: fit-content;
    margin: 0 5px 5px;
}

.wrapper.toggle {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    outline: 1px solid transparent;
    outline-offset: 2px;
    border-radius: 3px;
    gap: 16px;
}

.wrapper.toggle:focus-within {
    outline: 1px solid var(--accent-1);
}

.wrapper.disabled {
    cursor: not-allowed;
    opacity: 0.3;
    pointer-events: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    position: relative;
    border-radius: 4px;
    background-color: var(--background-2);
    border: 1px solid var(--border-color);
    cursor: text;
}

.toggle > .container {
    border: none;
    background-color: transparent;
}

.container:focus-within,
.popupOpen .container {
    border-color: var(--accent-1);
}

.container.error {
    border-color: var(--error);
    color: var(--error);
}

.container > input,
.container > textarea {
    width: 100%;
    min-height: 40px;
    height: 40px;
    max-height: 550px;
    resize: vertical;
    padding: 10px 12px;
    font-size: 15px;
    font-family: var(--font-body);
    background-color: transparent;
    color: var(--foreground-2);
    outline: none;
    border: none;
    transition: border-color 0.1s ease;
    appearance: none;
}

.container > input::placeholder,
.container > textarea::placeholder {
    user-select: none;
    color: var(--foreground-4);
}

.big > .container > textarea {
    height: 200px;
}

.select.readonly > .container,
.select.readonly > .container > input {
    padding-right: 40px;
    cursor: pointer;
}

.multiple > .container {
    min-height: 40px;
    padding: 5px 40px 5px 12px;
}

.multiple > .container > .selectIcon {
    margin: -1px 5px 0 0;
}

.multiple input {
    min-height: 22px;
    height: 30px;
    width: 200px;
    padding: 0;
}

.selectIcon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin: 4px 4px 0 0;
    aspect-ratio: 1;
    right: 0;
    color: var(--foreground-3);
    cursor: pointer;
    border-radius: 4px;
}

.selectIcon:hover,
.popupOpen .selectIcon {
    color: var(--foreground-2);
    background-color: var(--background-3);
}

.value {
    display: flex;
    align-items: center;
    color: var(--foreground-3);
    background-color: var(--background-1);
    border-radius: 999px;
    font-size: 12px;
    height: 22px;
    margin-top: 5px;
    line-height: 12px;
    padding-left: 10px;
    text-wrap: nowrap;
    cursor: default;
    max-width: 300px;
    user-select: none;
}

.value.overflow {
    background-color: var(--error-hover);
}

@media screen and (max-width: 550px) {
    .value {
        max-width: 200px;
    }
}

.value > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 100%;
    padding: 0 4px 0 1px;
    background-color: transparent;
    border: none;
    color: var(--foreground-3);
    cursor: pointer;
}

.value > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container > textarea::-webkit-scrollbar-thumb {
    border: 3px solid var(--background-2);
}

.label > label {
    margin-left: 2px;
    font-size: 11px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    user-select: none;
}

.label > label > span {
    color: var(--error);
    margin-left: 2px;
}

.toggle > .label > label {
    text-transform: none;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    pointer-events: none;
    white-space: nowrap;
}

.toggleContainer {
    opacity: 1;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 24px;
}

.toggleContainer > svg {
    display: block;
    position: absolute;
    width: 28px;
    height: 18px;
    margin: 3px;
    transition: left 0.2s ease-in-out;
}

.toggleContainer > input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 14px;
    cursor: pointer;
}

.subtext {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
}

.subtext > div > span {
    color: var(--error);
    font-weight: 600;
}

.subtext > div {
    font-size: 13px;
    line-height: 20px;
    user-select: none;
}

.choices {
    width: calc(100% + 2px);
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 8px);
    left: -1px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px;
    background-color: var(--background-2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: default;
}

.choice {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    user-select: none;
    color: var(--foreground-3);
}

.choice.disabled {
    opacity: 0.5;
    pointer-events: none;
    text-align: center;
}

.choice:focus-visible,
.choice:active {
    background-color: var(--background-3);
    outline: none;
}

.choice > svg {
    margin-right: 8px;
    color: var(--foreground-3);
}
