.picker {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    border-radius: 4px;
    z-index: 1;
    padding: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    background-color: var(--background-2);
    border: 1px solid var(--border-color);
}

.picker::-webkit-scrollbar-thumb {
    border-color: var(--background-2);
}

.picker > div > button {
    margin: 12px auto;
    border-radius: 999px;
}

.item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    padding: 6px 12px;
    justify-content: space-between;
    color: var(--foreground-3);
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.item:hover:not(.nothing) {
    background-color: var(--background-3);
    color: var(--foreground-1);
}

.item:focus-visible {
    outline: none;
    background-color: var(--background-3);
}

.item.disabled {
    cursor: default;
    opacity: 0.5;
}

.item.nothing {
    color: var(--foreground-4);
    cursor: default;
}

.item > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item > .checkbox {
    min-width: 20px;
    height: 20px;
    margin-left: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--foreground-1);
    background-color: var(--background-3);
}

.item:hover > .checkbox,
.item:focus-visible > .checkbox {
    background-color: var(--background-2);
}

.item > .checkbox > svg {
    width: 16px;
    height: 16px;
}
