.svg {
    animation: rotate 2s linear infinite;
    width: 24px;
    height: 24px;
}

.svg > circle {
    stroke: white;
    animation: spinner 2s ease-in-out infinite;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    fill: none;
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 130, 200;
    }
    100% {
        stroke-dasharray: 130, 200;
        stroke-dashoffset: -124px;
    }
}
