.wrapper {
    position: fixed;
    z-index: 100;
}

.container {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background-color: var(--background-2);
    min-width: 180px;
    animation: popIn 0.1s ease;
}

.container.fit {
    min-width: fit-content;
}

.container > ul > hr {
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 4px -4px;
}

.container > ul > li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 6px 12px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    color: var(--foreground-3);
    transition: all 0.01s ease-in-out;
    white-space: nowrap;
}

.container > ul > li.icon {
    padding-left: 36px;
}

.container > ul > li.danger {
    color: var(--error);
}

.container > ul > li:hover,
.container > ul > li:focus-visible {
    background-color: var(--background-3);
    outline: none;
}

.container > ul > li > div {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
